<Header>
<h1 id="Title">Aaron Beaven Awesome Api List</h1>
<nav>
<ul>
    <li><a href="/">Weather Api</a></li>
    <li><a href="./harrypotter">Harry Pottor Api</a></li>
    <li><a href="/jokes">Jokes Api</a></li>
    <li><a href="/quotes">Quotes Api</a></li>
    <li><a href="/bored">Bored Random Api</a></li>
</ul>
</nav>
</Header>